.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*libera a opção de colocar outras condições (top, right, bottom, left)*/
}

.container {
    display: flex;
    align-items: center;
}

/*quando .container__botao for "clicado", o combinador (~) vai procurar o próximo elemento .container__rotulo e o combinador (>) vai procurar o elemento .cabecalho__menu dentro do .container__rotulo*/
.container__botao:checked~.container__rotulo>.cabecalho__menu {
    /*irá mudar a imagem de fundo*/
    background-image: url("../img/Menu\ Aberto.svg");
}

/*quand o .container__botao for "clicado", o combinador (~) vai procurar o próximo elemento .container__rotulo*/
.container__botao:checked~.container__rotulo {
    /*irá mudar a cor de fundo*/
    background: var(--azul-gradiente);
}

/*quando o checkbox estiver preenchido/selecionado, o combinador (~) vai procurar a .lista-menu e mostrar na tela*/
.container__botao:checked~.lista-menu {
    display: block;
    width: 60vw;
}

.container__botao,
.container__titulo,
.opcoes,
.container__texto {
    display: none;
}

.cabecalho__menu {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute; /*movimenta de acordo com outro elemento (pai)*/
    top: 100%; /*faz com que a .lista-menu fique 100% abaixo do .cabecalho*/
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__titulo, 
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__link {
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .container__botao:checked~.lista-menu,
    .cabecalho__menu, 
    .opcoes__botao,
    .container__imagem-transparente {
        display: none;
    }

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--azul-gradiente);
        color: var(--branco);
    }

    .opcoes__item:hover {
        cursor: pointer;
    }
    
    .lista-menu__item:hover {
        background: var(--azul-gradiente);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .opcoes__item {
        padding: 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0 2em;
    }
    
    .opcoes {
        margin-right:  auto;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .container__texto {
        display: block;
    }
}